div.main {
  background: #182227;
  min-height: 100vh;
}

h1.search {
  margin-left: 20px;
}

div.stream-index {
  margin: 0 auto;
  width: 1500px;

  ul.stream-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    li.thumbnail {
      display: flex;
      flex-direction: column;

      background: transparent;
      margin: 20px;
      width: 450px;

      div.img-wrapper {
        width: 450px;
        height: 250px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        img {
          height: calc(100% + 90px);
        }
      }
    }
  }
}

div.login {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div.logout {
    background-image: asset-url('logout.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;

    &:hover {
      cursor: pointer;
    }
  }
}

div.img-wrapper:hover {
  cursor: pointer;
}
