div.stream-index {
  margin: 0 auto;
  width: 1200px;

  ul.stream-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li.thumbnail {
      display: flex;
      flex-direction: column;

      background: transparent;
      margin: 20px;
      width: 320px;

      div.img-wrapper {
        width: 320px;
        height: 270px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: calc(100% + 90px);
        }
      }
    }
  }
}
