body {
  background: #182227;
}

div.main {
  background: #182227;
  min-height: 100vh;
}

h1.search {
  margin-left: 20px;
}

div.stream-index {
  margin: 0 auto;
  width: 1500px;

  ul.stream-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    li.thumbnail {
      display: flex;
      flex-direction: column;

      background: transparent;
      margin: 20px;
      width: 450px;

      div.img-wrapper {
        width: 450px;
        height: 250px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        img {
          height: calc(100% + 90px);
        }
      }
    }
  }
}

div.login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div.greeting {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div.logout {
    background-image: asset-url('logout.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;

    &:hover {
      cursor: pointer;
    }
  }
}

div.img-wrapper:hover {
  cursor: pointer;
}

#g-signin2 {
  position: absolute;
  right: 0;
}

div.google-signin {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

div.require-signin {
  position: absolute;
  top: -7px;
  right: 0;
  opacity: 0;
  width: 107px;
  padding: 8px 15px;
  background: white;
  border-radius: 3px;
  transition: all 0.7s;

  &.active {
    right: 200px;
    opacity: 1;
  }

  span {
    color: red;
    font-size: 13px;
    width: 100%;
  }
}
