header.home {
  width: 100%;
  color: white;
  padding: 10px 0;

  nav.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1500px;
    height: 50px;
    margin: auto;
    padding: 0 20px;

    ul.home {
      display: flex;
      flex-grow: 1;
    }

    li.search {
      width: 500px;
    }

    li {
      padding: 10px;

      &:first-child:hover {
        cursor: pointer;
      }
    }

    li.login {
      position: relative;
    }

    li:first-child span {
      font-family: Poppins;
      font-size: 20px;
    }

    input {
      border: none;
      border-radius: 3px;
      background: LightGray;
      padding: 6px;
      padding-left: 30px;
      width: 100%;
      background-image: asset-url('search.png');
      background-repeat: no-repeat;
      background-position: 6px 6px;
      background-size: 17px 17px;
      font-size: 16px;
    }

    input:focus {
      outline: none;
    }
  }
}

div.login {
  span {
    font-size: 14px;
    color: #4e4e4e;
    margin-top: 3px;
  }

  span.white {
    color: white;
    padding: 0 10px;
    font-size: 16px
  }
}

div.abcRioButton {
  border-radius: 3px;

  span.abcRioButtonContents {
    position: relative;
    top: 2px;
  }
}

span.white {
  color: white;
}

span.green {
  color: #32c3a2;
}
