div.video-show-page {
  background: #182227;
  min-height: 100vh;
}

main.video-wrapper {
  width: 1300px;
  background: #182227;
  margin: auto;
  padding: 20px 50px;

  display: flex;

  article.video {
    width: 805px;
    height: 450px;
  }

  aside.chatroom-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: 455px;
    max-width: 450px;

    ul.chatroom {
      height: 100%;
      border-radius: 3px;
      padding: 10px;
      background: AliceBlue;
      overflow-y: scroll;
      max-width: inherit;

    }

    div.chatroom-input-wrapper {
      position: relative;
      bottom: 5px;
      padding: 10px;
      display: flex;
      background: AliceBlue;
    }

    input {
      padding: 3px;
      border: none;
      border-bottom: 1px solid gray;
      background: inherit;
      flex: 1;
    }

    input:focus {
      outline: none;
    }
  }
}


div.message {
  display: table;
  max-width: inherit;
}

span.message {
  color: black;
  display: block;
  max-width: inherit;
  word-wrap: break-word;
}

span.user {
  display: table-cell;
  font-weight: bold;
  font-family: Nobile;
  padding-right: 10px;
  color: purple;
  font-size: 15px
}

section.video-recommendations {
  margin: 0 auto;
  width: 1400px;

  h1 { margin-left: 50px }

  div.carousel-container {
    padding: 40px;
    width: 1300px;
    color: #333;
    background: #182227;

    ul.slick-dots {
      position: relative;
      top: 20px;

      li button::before {
        color: gray;
        opacity: 0.8;
      }

      li.slick-active button::before {
        color: white;
        opacity: 0.8;
      }
    }

    div.carousel-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 235px;
      overflow: hidden;

      img {
        width: 95%;
      }
    }
  }
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px
}

h2:hover {
  cursor: pointer;
}

div.stream-options-image {
  display: inline-block;
  background-image: asset-url('arrow.png');
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  transform: rotate(90deg);
  transition: all 0.3s;

  &.active {
    transform: rotate(180deg)
  }
}

div.stream-options-wrapper {
  margin: 0 50px;

  div.stream-options {
    display: flex;
    width: 100%;
    height: 0px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: all 0.5s;
    overflow: hidden;

    &.active {
      height: 220px;
    }
  }

  tr td:first-child {
    text-align: end;
  }

  ul.user-search {
    flex: 5;
    border-radius: 3px;
    background: AliceBlue;
    height: 200px;
    width: 100%;
    max-width: 1000px;
    margin: 0 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  input {
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 3px;
    background: inherit;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  input:focus {
    outline: none;
  }
}

div.border {
  margin: 20px 80px;
  background: lightgray;
  height: 1px;
  width: calc(100% - 190px);
}
